:root {
    --pantone-175-15C-95: hsl(0, 2%, 21%);
    --pantone-175-15C-75: hsl(220, 3%, 29%);
    --pantone-175-15C-15: hsl(220, 5%, 87%);
    --pantone-24-8C-100: hsl(29, 77%, 51%);
    --pantone-112-8C-100: hsl(200, 100%, 40%);
    --pantone-112-8C-50: hsl(199, 100%, 43%);
}