div.experiences {
    position: relative;
    width: auto;
}

div.experiences div {
    width: max(30em, 90%);
    
}

div.experiences div img {
    aspect-ratio: 1 / 1;
    width: 100%;
    margin-bottom: 20%;
    transform: translateX(-10%);
}

div.experiences p.text {
    position: absolute;
    top: 25%;
    right: 0;
}