div.experiences {
    position: relative;
    width: auto;
}

div.experiences img {
    aspect-ratio: 1 / 1;
    width: 90%;
}

div.experiences .node {
    position: absolute;
    transform: rotate(-15deg);
}

div.experiences .one {
    top: -7%;
    left: 20%;
}

div.experiences .two {
    top: -6%;
    left: 48%;
}

div.experiences .three {
    transform: rotate(15deg);
    top: 15%;
    left: 25%;
}

div.experiences p.text {
    position: absolute;
    top: 25%;
    right: 0;
}