div.landing {
    width: 80%;
    padding-top: 5%;
    margin: auto;
    margin-bottom: 10%;
    position: relative;
}

div.landing div {
    margin-top: 5%;
}

div.about-me {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

div.about-me h1 {
    cursor: pointer;
    height: fit-content;
}

div.about-me h1:after,
div.about-me h1.highlighted:after  {
    background-color: var(--pantone-24-8C-100);
    content: "";
    display: block;
    height: 0.1em;
    margin-left: -0.5em;
    margin-top: 0.2em;
    transition: width 0.5s;
    width: 0;
}

div.about-me h1:hover:after,
div.about-me h1.highlighted:after {
    width: calc(100% + 0.5em * 2);
}

div.landing div.info {
    position: absolute;
    top: 35%;
    right: 0;
    width: 55%;
}

img.me {
    grid-row: 1 / 3;
    aspect-ratio: 91 / 100;
    width: 400px;
    border-radius: 50%;
}

@media screen and (max-width: 1300px) {
    div.landing {
        margin-bottom: 45%;
    }
    div.about-me {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    div.about-me img {
        grid-row: 1 / 2 span;
        grid-column: 1 / 2 span;
        margin: auto;
    }

    div.about-me h1 {
        width: fit-content;
        margin: auto;
    }

    div.landing div.info {
        top: 95%;
        right: 20%;
    }
}

@media screen and (max-width: 900px) {
    div.landing {
        margin-bottom: 65%;
    }
}

@media screen and (max-width: 710px) {
    div.landing {
        margin-bottom: 100%;
    }
}

@media screen and (max-width: 620px) {
    div.landing {
        margin-bottom: 40em;
    }
}
