h1.projectName {
    display: block;
    position: relative;
    margin: auto;
    margin-top: 50px;
    width: fit-content;
}

section.projectpage {
    position: relative;
    z-index: 5;
    margin-left: 100px;
    width: 50%;
}