div.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-left: 15%;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-right: 3%;
    padding: 10px;
}

section img {
    cursor: pointer;
}

section img:hover {
    scale: 1.1;
}

label {
    color: var(--pantone-175-15C-15);
}

div#sidebar {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-around;
    padding: 50px 0 0 50px;
    width: 90%;
    aspect-ratio: 10 / 1;
    background-color: var(--pantone-175-15C-75);
    margin: auto;
    margin-bottom: 50px;
    gap: 20px;
}

div#sidebar h2 {
    position: absolute;
    top: 0%;
    left: 5%;
    font-size: 40px;
    color: var(--pantone-24-8C-100);
}

div#sidebar div.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 20px;
    margin-top: 3%;
}

div#sidebar div.progress_bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type="range"] {
    width: 300px;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 300px;
    margin-left: 10px;
    color: var(--pantone-175-15C-15)
}

option {
    padding: 0;
    transform: rotate(-45deg);
    pointer-events: none;
}

div#sidebar.revealed {
    opacity: 1;
    display: block;
    animation: sidebar 1s forwards;
}

div#sidebar.hidden {
    opacity: 0;
    animation: sidebar 1s forwards;
    display: none;
}

label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@keyframes sidebar {
    0% { scale: 0.5; opacity: 0; }
    100% { scale: 1; opacity: 1; }
}