div.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-left: 15%;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    margin-right: 3%;
    padding: 10px;
}

div.project section h1 {
    font-size: xx-large;
}