div.skillList {
    width: 100%;
    padding: 20px;
}

div.skillList * {
    position: relative;
    z-index: 5;
}

div.skillList section {
    width: 80%;
    margin-bottom: 10%;
}

div.skillList section h2:after {
    content: "";
    width: 110%;
    display: block;
    background-color: var(--pantone-24-8C-100);
    height: 0.1em;
    margin-left: -0.5em;
    margin-top: 0.2em;
}

div.skillList h1 {
    width: fit-content;
    font-size: xx-large;
    text-align: center;
    margin: auto;
}